<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
     <system>
         <tab id="tab_featured_product" translate="label" sortOrder="10">
             <label>Featured Product</label>
         </tab>
         <section id="section_featured_product" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
             <label>Settings</label>
             <tab>tab_featured_product</tab>
             <resource>Magento_Config::config</resource>
             <group id="group_featured_product" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                 <label>Settings</label>
                 <attribute type="expanded">1</attribute>
                 <field id="featured_sku" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                     <label>Product SKU</label>
                 </field>
             </group>
        </section>
     </system>
</config>